<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-3">
            <button type="button" class="btn btn-success">Success</button>
        </div>
        <div class="col-lg-9">
            {{#with song}}
            <h2>{{this.name}}</h2>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/{{this.url}}" title="{{this.name}}"
                    allowfullscreen></iframe>
            </div>
            <p>{{this.author}}</p>
            {{/with}}
        </div>
    </div>
</div>