<div class="container mt-4">
    <form action="" method="post">
        <div class="form-group">
            <label for="gender-input">Hãy chọn giới tính</label>
            <select name="gender" id="">
                <option value="">-- Tuỳ chọn --</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Click</button>
    </form>
</div>